{%- assign timezone = block.settings.timezone | split: '~' | first | strip -%}
<style>
    .clarity-section__block-id-{{ block.id }} .clarity-section__clock-wrap {
      /*max-width: 450px;*/
      flex: 1 0 auto;
      zoom: {{block.settings.block_size}};
      display: flex;
    }

    .clarity-section__block-id-{{ block.id }} .clarity-section__clock {
      {% if block.settings.hide_days %}grid-template-columns: repeat(3, minmax(0, 1fr));{% else %}grid-template-columns: repeat(4, minmax(0, 1fr));{% endif %}
      text-transform: uppercase;
      font-weight: bold;
      letter-spacing: 1px;
      color: rgba(var(--color-foreground));
      border: thin solid rgba(var(--color-foreground));
      font-size: 20px;
    }

    .clarity-section__block-id-{{ block.id }} .clarity-section__measurement {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 8px 20px;
      border-left: thin solid rgba(var(--color-foreground));
    }

    @media screen and (max-width: 749px){
      .clarity-section__block-id-{{ block.id }} .clarity-section__measurement {
      padding: 8px 10px;
    }
    }

    .clarity-section__block-id-{{ block.id }} .clarity-section__clock.clarity-section__clock--style_1 {
      border: none;
    }

    .clarity-section__block-id-{{ block.id }} .clarity-section__clock--style_1 .clarity-section__measurement {
      border-left: none;

    }
    .clarity-section__block-id-{{ block.id }} .clarity-section__clock.clarity-section__clock--style_2 {
      border: none;
    }

    .clarity-section__block-id-{{ block.id }} .clarity-section__clock--style_2 .clarity-section__measurement {
      border-left: thin solid rgba(var(--color-foreground));
    }


    .clarity-section__block-id-{{ block.id }} .clarity-section__clock.clarity-section__clock--style_3 {
      border: none;
    }

    .clarity-section__block-id-{{ block.id }} .clarity-section__clock--style_3 .clarity-section__measurement {
      border-left: none;
      padding: 8px 12px;
    }

    .clarity-section__block-id-{{ block.id }} .clarity-section__clock--style_3 .clarity-section__measurement .clarity-section__number {
      border-bottom: thin solid rgba(var(--color-foreground));
      margin-bottom: 0px;
    }


    .clarity-section__block-id-{{ block.id }} .clarity-section__clock.clarity-section__clock--style_4 {
      border: thin solid rgba(var(--color-foreground));
    }

    .clarity-section__block-id-{{ block.id }} .clarity-section__clock--style_4 .clarity-section__measurement {
      border-left: thin solid rgba(var(--color-foreground));
    }


    .clarity-section__block-id-{{ block.id }} .clarity-section__measurement:first-child {
      border-left: none;
    }

    {% if block.settings.hide_days %}
    .clarity-section__block-id-{{ block.id }} .clarity-section__measurement:nth-child(2) {
      border-left: none;
    }
      {% endif %}

    .clarity-section__block-id-{{ block.id }} .clarity-section__number {
      width: 100%;
      text-align: center;
      font-weight: bold;
      padding: 5px 0;
      font-size: clamp(16px, 24px, 85px);
      line-height: 1;
      min-height: 0;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .clarity-section__block-id-{{ block.id }} .clarity-section__label {
      font-size: clamp(9px, 0.5em, 45px);
      width: max-content;
      padding: 0.5em 0.8em;
    }
    .clarity-section-timer__justify-left {
    justify-content: flex-start;
    text-align: left;
  }

  .clarity-section-timer__justify-center {
    justify-content: center;
    text-align: center;
  }

  .clarity-section-timer__justify-right {
    justify-content: flex-end;
    text-align: right;
  }

  .clarity-section-timer__justify-justify {
    justify-content: space-between;
    text-align: justify;
  }
</style>
<div
  class="clarity-section__clock-wrap clarity-section__flex clarity-section-timer__justify-{{ block.settings.block_alignment }}"
  data-timer-start="{{ block.settings.start_month }} {{ block.settings.start_day }} {{ block.settings.start_year }} {{ block.settings.start_time }} {{ timezone }}"
  data-timer-end="{{ block.settings.end_month }} {{ block.settings.end_day }} {{ block.settings.end_year }} {{ block.settings.end_time }} {{ timezone }}"
>
  <div
    class="clarity-section__clock clarity-section__grid clarity-section__clock--{{ block.settings.style_option }}"
    style="display:grid;"
  >
    <div class="clarity-section__measurement{% if block.settings.hide_days %} hidden{% endif %} clarity-section__days">
      <span class="clarity-section__number">--</span>
      <span class="clarity-section__label">{{ block.settings.timer_day }}</span>
    </div>
    <div class="clarity-section__measurement clarity-section__hours">
      <span class="clarity-section__number">--</span>
      <span class="clarity-section__label">{{ block.settings.timer_hrs }}</span>
    </div>
    <div class="clarity-section__measurement clarity-section__minutes">
      <span class="clarity-section__number">--</span>
      <span class="clarity-section__label">{{ block.settings.timer_min }}</span>
    </div>
    <div class="clarity-section__measurement clarity-section__seconds">
      <span class="clarity-section__number">--</span>
      <span class="clarity-section__label clarity-section__seconds-text">{{ block.settings.timer_sec }}</span>
    </div>
  </div>
</div>
{% assign section.id = section.id %}
<script type="application/json" data-clarity-section="{{ section.id }}">
  {
    "id": {{ section.id | json }},
    "animation": {{ section.settings.animation | json }}
  }
</script>
<script
  data-clarity-section-js="{{ section.id }}"
  type="module"
  defer
>
(function(){

  const clarityScript = {
    initializeAndEnableClock(section) {
      const clockSelector = '.clarity-section__clock';
      const startDate = section.querySelector('[data-timer-start]').dataset.timerStart;
      const endDate = section.querySelector('[data-timer-end]').dataset.timerEnd;

      const startMs = Date.parse(startDate);
      const endMs = Date.parse(endDate);
      const currentMs = Date.parse(new Date());

      if (endMs <= currentMs || currentMs < startMs) {
        section.querySelector(`.clarity-section__clock-wrap`).style.display = 'none';
        return;
      }

      const clock = section.querySelector(clockSelector);

      function updateClock() {
        const total = Date.parse(endDate) - Date.parse(new Date());
        const days = Math.floor(total / (1000 * 60 * 60 * 24));
        const hours = Math.floor((total / (1000 * 60 * 60)) % 24);
        const minutes = Math.floor((total / 1000 / 60) % 60);
        const seconds = Math.floor((total / 1000) % 60);

        const daysSpan = clock.querySelector('.clarity-section__days .clarity-section__number');
        const hoursSpan = clock.querySelector('.clarity-section__hours .clarity-section__number');
        const minutesSpan = clock.querySelector('.clarity-section__minutes .clarity-section__number');
        const secondsSpan = clock.querySelector('.clarity-section__seconds .clarity-section__number');

        if (daysSpan.innerHTML != days) daysSpan.innerHTML = days;
        if (hoursSpan.innerHTML != hours) hoursSpan.innerHTML = ('0' + hours).slice(-2);
        if (minutesSpan.innerHTML != minutes) minutesSpan.innerHTML = ('0' + minutes).slice(-2);
        if (secondsSpan.innerHTML != seconds) secondsSpan.innerHTML = ('0' + seconds).slice(-2);

        if (total <= 0) clearInterval(timeinterval);
      }

      updateClock();
      const timeinterval = setInterval(updateClock, 1000);
    },
    load: function(section) {
      const countdownTimer = section.querySelector('.clarity-section__clock');
      if (typeof countdownTimer !== 'undefined' && countdownTimer !== null) {
        clarityScript.initializeAndEnableClock(section);
      }
    },
  };

  clarityScript.settings = JSON.parse(document.querySelector('[data-clarity-section="{{ section.id }}"]').innerHTML);
  const sectionId = {{ section.id | json }};
  const section = document.querySelector(`#LM--${sectionId}`);

  if (sectionId == clarityScript.settings.id) {
    clarityScript.load(section);
  }
})();
</script>
