{%- if collections[block.settings.option_type_collection_handle] -%}

  <style>
         .form__label-{{block.id}} {
         font-weight: {{block.settings.font_style}};
         font-size: {{block.settings.font_size}}px;
     }
    .form__label-{{block.id}} span {
       padding-left: 5px;
       border-left: 1px solid rgb(var(--color-foreground), 0.1);
       margin-left: 6px;
     }
     .form__label-variant_picker-{{block.id}} {
        font-size: {{block.settings.font_size}}px;
        font-weight: {{block.settings.font_style}};
        min-height: 0.5rem;margin-bottom: 0;color: currentColor;
     }
    .lumin-sibling input[type=radio]+ label{
      border: none !important;
    }
    .lumin-sibling input[type=radio]:checked+label{
      border: var(--variant-pills-border-width) solid rgb(var(--color-foreground)) !important;
      outline:none;
    }
  </style>

  {% assign related_collection = collections[block.settings.option_type_collection_handle] %}
  {% assign related_products = related_collection.products %}

  {% if block.settings.picker_type == 'button' -%}
    {% if block.settings.use_swatch_custom == false %}
      <fieldset class="js product-form__input product-form__input--pill js product-form__input product-form__input--swatch">
        <legend class="form__label form__label-{{block.id}} form__label-variant_picker-{{block.id}} {% if block.settings.label_style == 'uppercase' %} caption-with-letter-spacing{% elsif block.settings.label_style == 'subtitle' %} subtitle{% endif %}">{{ block.settings.grouping_label }}</legend>

        {% assign custom_names = block.settings.names | split: ',' %}
        {% for related_product in related_products %}
          <input
            type="radio"
            id="related_product-{{ related_product.id }}-{{ block.id }}"
            name="related_product_{{ block.id }}"
            value="{{ related_product.url }}"
            onchange="window.location.href=this.value;"
            {% if product.handle == related_product.handle %}
              checked="checked"
            {% endif %}
          >
          <label for="related_product-{{ related_product.id }}-{{ block.id }}">
            {{ custom_names[forloop.index0] | default: related_product.title }}
          </label>
        {% endfor %}
      </fieldset>

    {% else %}
      <fieldset
        class="js product-form__input product-form__input--pill product-form__input product-form__input--swatch"
        style="display:flex;flex-wrap: wrap;"
      >
        {% assign custom_names = block.settings.names | split: ',' %}
        {% assign base_store_files_url = '//' | append: shop.permanent_domain | append: '/cdn/shop/files/' %}
        {% for related_product in related_products %}
          {% if product.handle == related_product.handle %}
            <legend class="form__label form__label-{{block.id}} form__label-variant_picker-{{block.id}} {% if block.settings.label_style == 'uppercase' %} caption-with-letter-spacing{% elsif block.settings.label_style == 'subtitle' %} subtitle{% endif %}">
              {{ block.settings.grouping_label -}}
              <span id="selected{{ block.settings.grouping_label }}">
                {{- custom_names[forloop.index0] | default: related_product.title -}}
              </span>
            </legend>
          {% endif %}
          {% assign thumb_image = block.settings.combined_listing_swatch_size | times: 2 | append: 'x' %}
          {% assign variant_image_url = related_product.featured_image | img_url: thumb_image %}

          <div class="product-form__swatch lumin-sibling">
            <input
              type="radio"
              id="related_product-{{ related_product.id }}-{{ block.id }}"
              name="related_product_{{ block.id }}"
              value="{{ related_product.url }}"
              onchange="window.location.href=this.value;"
              data-product-id="{{ product.id }}"
              data-image-url="{{ variant_image_url }}"
              {% if product.handle == related_product.handle %}
                checked="checked"
              {% endif %}
            >
            <label
              for="related_product-{{ related_product.id }}-{{ block.id }}"
              style="
                background-image: url('{{ variant_image_url }}'); width: {{ block.settings.combined_listing_swatch_size }}px; height: {% if block.settings.combined_listing_swatch_shape_custom == 'portrait' %}{{ block.settings.combined_listing_swatch_size_vertical }}px;{% else %}{{ block.settings.combined_listing_swatch_size }}px;{% endif %} border-radius: {% if block.settings.combined_listing_swatch_shape_custom == 'circle' %}100px{% else %}{{ block.settings.combined_listing_swatch_radius }}px{% endif %} !important;
                background-size: cover;padding:1rem;cursor: pointer;transition: border-color 0.3s ease;
              "
            >
              <span class="visually-hidden">{{ 'products.product.variant_sold_out_or_unavailable' | t }}</span>
            </label>
          </div>
        {% endfor %}
      </fieldset>
    {% endif %}

  {%- elsif block.settings.picker_type == 'dropdown' -%}
    <div class="product-form__input product-form__input--dropdown">
      <label for="ProductSelect-related-{{ section.id }}" class="form__label form__label-{{block.id}}">
        {{- block.settings.grouping_label -}}
      </label>
      <div class="select">
        <select
          id="ProductSelect-related-{{ section.id }}-{{ block.id }}"
          class="select__select"
          onchange="window.location.href=this.value;"
        >
          {% for related_product in related_products %}
            <option
              value="{{ related_product.url }}"
              {% if product.handle == related_product.handle %}
                selected="selected"
              {% endif %}
            >
              {{ related_product.title }}
            </option>
          {% endfor %}
        </select>
        {% render 'icon-caret' %}
      </div>
    </div>
  {%- endif -%}
{%- endif -%}
