<style>
  .clarity-section__block-id-{{ block.id }} .clarity-section__columns {
    gap: {{ block.settings.gap }}px;
  }
</style>
<div class="clarity-section__flex clarity-section__columns clarity-section__flex--2-per-row clarity-section__justify-{{ block.settings.text_alignment }}">
  {%- for index in (1..2) -%}
    {%- capture heading -%}heading_{{ forloop.index }}{%- endcapture -%}
    {%- capture column -%}column_{{ forloop.index }}{%- endcapture -%}
    <div class="clarity-section__flex-item">
      {%- if block.settings[heading] != blank -%}
        <h3 class="clarity-section__small-heading clarity-section__column-heading">{{ block.settings[heading] }}</h3>
      {%- endif -%}
      {%- if block.settings[column] != blank -%}
        <div class="clarity-section__text clarity-section__rte">
          {{ block.settings[column] }}
        </div>
      {%- endif -%}
    </div>
  {%- endfor -%}
</div>
