{{ 'parallax.css' | asset_url | stylesheet_tag }}
<parallax-section data-rotation="6">
  <div class="parallax__text-background gradient color-{{ section.settings.section_color_scheme }}">
    <div class="parallax__text-content">
      <h1
        class="parallax__title {{ section.settings.parallax_heading_size }}"
      >
        {{ section.settings.title }}
      </h1>
      <span class="description">
        {{ section.settings.description }}
      </span>
      <div class="rich-text__text rte {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %} animations_reveal_on_scroll">
        <a class="parallax__link" href="{{ section.settings.btn_url }}">
          {{ section.settings.btn_label }}
        </a>
      </div>
    </div>
  </div>

  <div class="parallax__wrapper">
    {% for block in section.blocks %}
      <div class="parallax__gallery__item">
        <img
          src="{{ block.settings.image |  image_url: width: 300 }}"
          class="parallax__img"
        >
      </div>
    {% endfor %}
  </div>
</parallax-section>
<script src="{{ 'parallax.js' |  asset_url }}"></script>
{% schema %}
{
  "name": "t:sections.parallax-section.name",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "t:sections.parallax-section.title.label"
    },
    {
      "type": "select",
      "id": "parallax_heading_size",
      "options": [
        {
          "value": "h2",
          "label": "t:sections.all.heading_size.options__1.label"
        },
        {
          "value": "h1",
          "label": "t:sections.all.heading_size.options__2.label"
        },
        {
          "value": "h0",
          "label": "t:sections.all.heading_size.options__3.label"
        },
        {
          "value": "hxl",
          "label": "t:sections.all.heading_size.options__4.label"
        }
      ],
      "default": "h1",
      "label": "t:sections.all.heading_size.label"
    },
    {
      "type": "color_scheme",
      "id": "section_color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "background-1"
    },
    {
      "type": "richtext",
      "id": "description",
      "label": "t:sections.parallax-section.description.label"
    },
    {
      "type": "text",
      "id": "btn_label",
      "label": "t:sections.parallax-section.btn_label.label"
    },
    {
      "type": "url",
      "id": "btn_url",
      "label": "t:sections.parallax-section.btn_url.label"
    }
  ],
  "blocks": [
    {
      "type": "image",
      "name": "t:sections.parallax-section.image.label",
      "settings": [
        {
          "type": "image_picker",
          "label": "t:sections.parallax-section.image_picker.label",
          "id": "image"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.parallax-section.name"
    }
  ]
}
{% endschema %}
