{{ 'section-image-banner.css' | asset_url | stylesheet_tag }}
{{ 'component-slider.css' | asset_url | stylesheet_tag }}
{{ 'component-slideshow.css' | asset_url | stylesheet_tag }}
{{ 'section-rich-text.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

{% if section.settings.layout == 'grid' %}
  <style>
      .slideshow-{{ section.id }} {
        border-radius: {{section.settings.banner_border}}px;
    }
  </style>
{% endif %}

<div class="isolate{% unless section.settings.full_width %} page-width{% endunless %}">
  <div class="rich-text content-container color-{{ section.settings.color_scheme }} gradient{% if section.settings.full_width %} rich-text--full-width content-container--full-width{% endif %} section-{{ section.id }}-padding">
    <div class="rich-text__wrapper rich-text__wrapper--{{ section.settings.desktop_content_position }}{% if section.settings.full_width %} page-width{% endif %}">
      <div class="rich-text__sections {{ section.settings.content_alignment }}" style="width: 100%;">
        <slideshow-component
          class="slider-mobile-gutter"
          role="region"
          aria-roledescription="{{ 'sections.slideshow.carousel' | t }}"
          aria-label="{{ section.settings.accessibility_info | escape }}"
        >
          {%- if section.settings.auto_rotate and section.blocks.size > 1 -%}
            <div class="slideshow__controls slideshow__controls--top slider-buttons no-js-hidden{% if section.settings.show_text_below %} slideshow__controls--border-radius-mobile{% endif %}"
              style="margin-top: 3rem;">
              <button
                type="button"
                class="slider-button slider-button--prev"
                name="previous"
                aria-label="{{ 'sections.slideshow.previous_slideshow' | t }}"
                aria-controls="Slider-{{ section.id }}"
              >
                {% render 'icon-arro' %}
              </button>
              <div class="slider-counter slider-counter--{{ section.settings.slider_visual }}{% if section.settings.slider_visual == 'counter' or section.settings.slider_visual == 'numbers' %} caption{% endif %}">
                {%- if section.settings.slider_visual == 'counter' -%}
                  <span class="slider-counter--current">1</span>
                  <span aria-hidden="true"> / </span>
                  <span class="visually-hidden">{{ 'general.slider.of' | t }}</span>
                  <span class="slider-counter--total">{{ section.blocks.size }}</span>
                {%- else -%}
                  <div class="slideshow__control-wrapper">
                    {%- for block in section.blocks -%}
                      <button
                        class="slider-counter__link slider-counter__link--{{ section.settings.slider_visual }} link"
                        aria-label="{{ 'sections.slideshow.load_slide' | t }} {{ forloop.index }} {{ 'general.slider.of' | t }} {{ forloop.length }}"
                        aria-controls="Slider-{{ section.id }}"
                      >
                        {%- if section.settings.slider_visual == 'numbers' -%}
                          {{ forloop.index -}}
                        {%- else -%}
                          <span class="dot"></span>
                        {%- endif -%}
                      </button>
                    {%- endfor -%}
                  </div>
                {%- endif -%}
              </div>
              <button
                type="button"
                class="slider-button slider-button--next"
                name="next"
                aria-label="{{ 'sections.slideshow.next_slideshow' | t }}"
                aria-controls="Slider-{{ section.id }}"
              >
                {% render 'icon-arro' %}
              </button>

              {%- if section.settings.auto_rotate -%}
                <button
                  type="button"
                  class="slideshow__autoplay hidden slider-button no-js-hidden{% if section.settings.auto_rotate == false %} slideshow__autoplay--paused{% endif %}"
                  aria-label="{{ 'sections.slideshow.pause_slideshow' | t }}"
                ></button>
              {%- endif -%}
            </div>
            <noscript>
              <div class="slider-buttons">
                <div class="slider-counter">
                  {%- for block in section.blocks -%}
                    <a
                      href="#Slide-{{ section.id }}-{{ forloop.index }}"
                      class="slider-counter__link link"
                      aria-label="{{ 'sections.slideshow.load_slide' | t }} {{ forloop.index }} {{ 'general.slider.of' | t }} {{ forloop.length }}"
                    >
                      {{ forloop.index }}
                    </a>
                  {%- endfor -%}
                </div>
              </div>
            </noscript>
          {%- endif -%}

          <div
            class="slidshow-{{ section.id }} slideshow banner grid grid--1-col slider slider--everywhere"
            id="Slider-{{ section.id }}"
            aria-live="polite"
            aria-atomic="true"
            data-autoplay="{{ section.settings.auto_rotate }}"
            data-speed="{{ section.settings.change_slides_speed }}"
            style="
            {% if section.settings.layout == 'grid' %}
              border-radius:{{section.settings.banner_border}}px;
            {% endif %}"
            >
            {%- for block in section.blocks -%}
              <div
                class="slideshow__slide grid__item grid--1-col slider__slide {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
                id="Slide-{{ section.id }}-{{ forloop.index }}"
                {% if block.settings['link-2'] %}
                  onclick="location.href='{{ block.settings.link-2  }}';" style="cursor: pointer;"
                {% endif %}
                {{ block.shopify_attributes }}
                role="group"
                aria-roledescription="{{ 'sections.slideshow.slide' | t }}"
                aria-label="{{ forloop.index }} {{ 'general.slider.of' | t }} {{ forloop.length }}"
                tabindex="-1"
                {% if settings.animations_reveal_on_scroll %}
                      data-cascade
                      style="--animation-order: {{ forloop.index }}; z-index: 2;"
                    {% else %}
                      style="z-index: 2;"
                    {% endif %}
              >
                <div style="max-width: {{ section.settings.slide_width | append: 'px' }}; margin:auto;">
                  <p
                    class="rich-text__caption {{ block.settings.text_style }} {{ block.settings.text_style }}--{{ block.settings.text_size }}"
                   >
                    {{ block.settings.caption | escape }}
                  </p>
                  <h2
                    class="rich-text__heading rte inline-richtext {{ block.settings.heading_size }}">
                    {{
                      block.settings.heading
                      | replace: '[', '<span class="lumin-text__fancy1">'
                      | replace: ']', '</span>'
                      | replace: '((', '<span class="lumin-text__fancy2">'
                      | replace: '))', '</span>'
                    }}
                  </h2>
                  <div
                    class="rich-text__text rte"
                    {{ block.shopify_attributes }}
                  >
                    {{
                      block.settings.text
                      | replace: '[', '<span class="lumin-text__fancy1">'
                      | replace: ']', '</span>'
                      | replace: '((', '<span class="lumin-text__fancy2">'
                      | replace: '))', '</span>'
                    }}
                  </div>
                  <div
                class="rich-text__buttons{% if block.settings.button_label != blank and block.settings.button_label_2 != blank %} rich-text__buttons--multiple{% endif %}"
                    {% if block.settings.button_label != blank or block.settings.button_label_2 != blank %}style="margin-top:3rem;"{% endif %}
                {{ block.shopify_attributes }}
              >
                {%- if block.settings.button_label != blank -%}
                  <a
                    {% if block.settings.button_link == blank %}
                      role="link" aria-disabled="true"
                    {% else %}
                      href="{{ block.settings.button_link }}"
                    {% endif %}
                    class="button{% if block.settings.button_style_secondary %} button--secondary{% else %} button--primary{% endif %}"
                  >
                    {{- block.settings.button_label | escape -}}
                  </a>
                {%- endif -%}
                {%- if block.settings.button_label_2 != blank -%}
                  <a
                    {% if block.settings.button_link_2 == blank %}
                      role="link" aria-disabled="true"
                    {% else %}
                      href="{{ block.settings.button_link_2 }}"
                    {% endif %}
                    class="button{% if block.settings.button_style_secondary_2 %} button--secondary{% else %} button--primary{% endif %}"
                  >
                    {{- block.settings.button_label_2 | escape -}}
                  </a>
                {%- endif -%}
              </div>
                </div>
              </div>
            {%- endfor -%}
          </div>

          {%- if section.blocks.size > 1 and section.settings.auto_rotate == false -%}
            <div class="slideshow__controls slider-buttons no-js-hidden{% if section.settings.show_text_below %} slideshow__controls--border-radius-mobile{% endif %}"
              style="margin-top: 3rem;">
              <button
                type="button"
                class="slider-button slider-button--prev"
                name="previous"
                aria-label="{{ 'sections.slideshow.previous_slideshow' | t }}"
                aria-controls="Slider-{{ section.id }}"
              >
                {% render 'icon-arro' %}
              </button>
              <div class="slider-counter slider-counter--{{ section.settings.slider_visual }}{% if section.settings.slider_visual == 'counter' or section.settings.slider_visual == 'numbers' %} caption{% endif %}">
                {%- if section.settings.slider_visual == 'counter' -%}
                  <span class="slider-counter--current">1</span>
                  <span aria-hidden="true"> / </span>
                  <span class="visually-hidden">{{ 'general.slider.of' | t }}</span>
                  <span class="slider-counter--total">{{ section.blocks.size }}</span>
                {%- else -%}
                  <div class="slideshow__control-wrapper">
                    {%- for block in section.blocks -%}
                      <button
                        class="slider-counter__link slider-counter__link--{{ section.settings.slider_visual }} link"
                        aria-label="{{ 'sections.slideshow.load_slide' | t }} {{ forloop.index }} {{ 'general.slider.of' | t }} {{ forloop.length }}"
                        aria-controls="Slider-{{ section.id }}"
                      >
                        {%- if section.settings.slider_visual == 'numbers' -%}
                          {{ forloop.index -}}
                        {%- else -%}
                          <span class="dot"></span>
                        {%- endif -%}
                      </button>
                    {%- endfor -%}
                  </div>
                {%- endif -%}
              </div>
              <button
                type="button"
                class="slider-button slider-button--next"
                name="next"
                aria-label="{{ 'sections.slideshow.next_slideshow' | t }}"
                aria-controls="Slider-{{ section.id }}"
              >
                {% render 'icon-arro' %}
              </button>

              {%- if section.settings.auto_rotate -%}
                <button
                  type="button"
                  class="slideshow__autoplay slider-button no-js-hidden{% if section.settings.auto_rotate == false %} slideshow__autoplay--paused{% endif %}"
                  aria-label="{{ 'sections.slideshow.pause_slideshow' | t }}"
                  style="border: none;padding:0; margin:0;"
                ></button>
              {%- endif -%}
            </div>
            <noscript>
              <div class="slider-buttons">
                <div class="slider-counter">
                  {%- for block in section.blocks -%}
                    <a
                      href="#Slide-{{ section.id }}-{{ forloop.index }}"
                      class="slider-counter__link link"
                      aria-label="{{ 'sections.slideshow.load_slide' | t }} {{ forloop.index }} {{ 'general.slider.of' | t }} {{ forloop.length }}"
                    >
                      {{ forloop.index }}
                    </a>
                  {%- endfor -%}
                </div>
              </div>
            </noscript>
          {%- endif -%}
        </slideshow-component>
      </div>
    </div>
  </div>
</div>

{%- if request.design_mode -%}
  <script src="{{ 'theme-editor.js' | asset_url }}" defer="defer"></script>
{%- endif -%}

{% schema %}
{
  "name": "Promo Slider",
  "tag": "section",
  "class": "section",
   "disabled_on": {
  "groups": ["header", "footer", "custom.popup"]
   },
  "settings": [
    {
      "type": "select",
      "id": "content_alignment",
      "options": [
        {
          "value": "left",
          "label": "t:sections.rich-text.settings.content_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.rich-text.settings.content_alignment.options__2.label"
        },
        {
          "value": "right",
          "label": "t:sections.rich-text.settings.content_alignment.options__3.label"
        }
      ],
      "default": "center",
      "label": "t:sections.rich-text.settings.content_alignment.label"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "background-1"
    },
    {
      "type": "checkbox",
      "id": "full_width",
      "default": true,
      "label": "t:sections.rich-text.settings.full_width.label"
    },
    {
      "type": "range",
      "id": "slide_width",
      "min": 600,
      "max": 1600,
      "step": 20,
      "unit": "px",
      "label": "t:settings_schema.layout.settings.page_width.label",
      "default": 800
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
          "type": "select",
          "id": "slider_visual",
          "options": [
            {
              "value": "dots",
              "label": "t:sections.main-product.blocks.complementary_products.settings.pagination_style.options.option_1"
            },
            {
              "value": "counter",
              "label": "t:sections.main-product.blocks.complementary_products.settings.pagination_style.options.option_2"
            },
            {
              "value": "numbers",
              "label": "t:sections.main-product.blocks.complementary_products.settings.pagination_style.options.option_3"
            }
          ],
          "label": "t:sections.main-product.blocks.complementary_products.settings.pagination_style.label",
          "default": "dots"
        },
    {
      "type": "checkbox",
      "id": "auto_rotate",
      "label": "t:sections.slideshow.settings.auto_rotate.label",
      "default": false
    },
    {
      "type": "range",
      "id": "change_slides_speed",
      "min": 3,
      "max": 9,
      "step": 2,
      "unit": "s",
      "label": "t:sections.slideshow.settings.change_slides_speed.label",
      "default": 5
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 52
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 52
    }, 
  ],
 "blocks": [
    {
      "type": "testimonial",
      "name": "Testimonial",
      "settings": [
        {
          "type": "text",
          "id": "caption",
          "default": "Add a tagline",
          "label": "t:sections.rich-text.blocks.caption.settings.text.label"
        },
        {
          "type": "select",
          "id": "text_style",
          "options": [
            {
              "value": "subtitle",
              "label": "t:sections.rich-text.blocks.caption.settings.text_style.options__1.label"
            },
            {
              "value": "caption-with-letter-spacing",
              "label": "t:sections.rich-text.blocks.caption.settings.text_style.options__2.label"
            }
          ],
          "default": "caption-with-letter-spacing",
          "label": "t:sections.rich-text.blocks.caption.settings.text_style.label"
        },
        {
          "type": "select",
          "id": "text_size",
          "options": [
            {
              "value": "small",
              "label": "t:sections.rich-text.blocks.caption.settings.caption_size.options__1.label"
            },
            {
              "value": "medium",
              "label": "t:sections.rich-text.blocks.caption.settings.caption_size.options__2.label"
            },
            {
              "value": "large",
              "label": "t:sections.rich-text.blocks.caption.settings.caption_size.options__3.label"
            }
          ],
          "default": "medium",
          "label": "t:sections.rich-text.blocks.caption.settings.caption_size.label"
        },
        {
          "type": "inline_richtext",
          "id": "heading",
          "default": "Talk about your brand",
          "label": "t:sections.rich-text.blocks.heading.settings.heading.label"
        },
        {
          "type": "select",
          "id": "heading_size",
          "options": [
            {
              "value": "h2",
              "label": "t:sections.all.heading_size.options__1.label"
            },
            {
              "value": "h1",
              "label": "t:sections.all.heading_size.options__2.label"
            },
            {
              "value": "h0",
              "label": "t:sections.all.heading_size.options__3.label"
            },
            {
              "value": "hxl",
              "label": "t:sections.all.heading_size.options__4.label"
            }
          ],
          "default": "h1",
          "label": "t:sections.all.heading_size.label"
        },
        {
          "type": "richtext",
          "id": "text",
          "default": "<p>Share information about your brand with your customers. Describe a product, make announcements, or welcome customers to your store.</p>",
          "label": "t:sections.rich-text.blocks.text.settings.text.label"
        },
           {
          "type": "text",
          "id": "button_label",
          "label": "t:sections.rich-text.blocks.buttons.settings.button_label_1.label",
          "info": "t:sections.rich-text.blocks.buttons.settings.button_label_1.info"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "t:sections.rich-text.blocks.buttons.settings.button_link_1.label"
        },
        {
          "type": "checkbox",
          "id": "button_style_secondary",
          "default": false,
          "label": "t:sections.rich-text.blocks.buttons.settings.button_style_secondary_1.label"
        },
        {
          "type": "text",
          "id": "button_label_2",
          "label": "t:sections.rich-text.blocks.buttons.settings.button_label_2.label",
          "info": "t:sections.rich-text.blocks.buttons.settings.button_label_2.info"
        },
        {
          "type": "url",
          "id": "button_link_2",
          "label": "t:sections.rich-text.blocks.buttons.settings.button_link_2.label"
        },
        {
          "type": "checkbox",
          "id": "button_style_secondary_2",
          "default": false,
          "label": "t:sections.rich-text.blocks.buttons.settings.button_style_secondary_2.label"
        }
      ]
    }
      ],
  "presets": [
    {
      "name": "Promo Slider",
      "category": "Lumin Slidshow",
      "blocks": [
        {
          "type": "testimonial"
        },
        {
          "type": "testimonial"
        },
        {
          "type": "testimonial"
        }
      ]
    }
  ]
}
{% endschema %}
