{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}
{{ 'lumin-tab.css' | asset_url | stylesheet_tag }}
<style>
    ul.lumin-tab-{{ section.id }} {
               justify-content: {{ section.settings.tab_font_align }};
      {% if section.settings.show_border %} border-bottom: .1rem solid rgba(var(--color-foreground), .08);{% endif %}
      padding-left:0;
          }

    .lumin-tab-{{section.id}} h4 {
      font-size: {{section.settings.tab_font}}px;
    }

    .lumin-tab-content-{{ section.id }} {
                text-align: {{ section.settings.tab_content_align }};
          }

  @media only screen and (max-width: 576px){
     .lumin-tab-{{section.id}} h4 {
      font-size: {{section.settings.tab_font_mb}}px;
    }
     ul.lumin-tab-{{ section.id }} {
    justify-content: {{ section.settings.tab_font_mb_align }};
    }
   .lumin-tab-content-{{ section.id }} {
     text-align: {{ section.settings.tab_content_align_mb }};
      }
    }
</style>
<div class="section-{{ section.id }}-padding gradient color-{{ section.settings.tabs_color_scheme }}">
  <div class="page-width color-{{ section.settings.tabs_color_scheme }} gradient">
    <div class="{% if section.settings.layout == 'section' %}lumin-tab-width isolate content-container color-{{ section.settings.container_color_scheme }} gradient {% endif %}">
      <ul class="lumin-tab-{{section.id}} custom--tabs">
        {% for block in section.blocks %}
          {% if block.type == 'tab' %}
            <li class="tab__list {% if forloop.first %}active{% endif %}" {{ block.shopify_attributes }}>
              <h4
                class="custom-tab {% if forloop.first %}active{% endif %}"
                data-content-id="content--{{ block.id }}--{{ section.id }}"
              >
                {{ block.settings.heading | replace: '[', '<span class="lumin-text__fancy1">' | replace: ']', '</span>' | replace: '((', '<span class="lumin-text__fancy2">' | replace: '))', '</span>' }}
              </h4>
            </li>
          {% endif %}
        {% endfor %}
      </ul>

      {% for block in section.blocks %}
        {% if block.type == 'tab' %}
          <div
            id="content--{{ block.id }}--{{ section.id }}"
            class="custom__tab-content lumin-tab-content-{{ section.id }} {% if forloop.first %}active{% endif %}"
            {{ block.shopify_attributes }}
          >
            {% if block.settings.description %}
              <div class="product__description rte">{{ product.description }}</div>
            {% else %}
              {{ block.settings.tab_content | replace: '[', '<span class="lumin-text__fancy1">' | replace: ']', '</span>' | replace: '((', '<span class="lumin-text__fancy2">' | replace: '))', '</span>' }}
            {% endif %}
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>

<script>

  function initializeTabs() {
  const tabs = document.querySelectorAll('.custom-tab');
  const tabContents = document.querySelectorAll('.custom__tab-content');

  tabs.forEach(function(tab) {
      tab.addEventListener('click', function() {
          const contentId = this.dataset.contentId;
          const content = document.getElementById(contentId);

          tabContents.forEach(function(content) {
              content.classList.remove('active');
          });

          tabs.forEach(function(tab) {
              tab.classList.remove('active');
          });

          this.classList.add('active');
          content.classList.add('active');
      });
  });
}

document.addEventListener('DOMContentLoaded', function() {
  initializeTabs();
});

function onContentUpdated() {
  initializeTabs();
}

// Use MutationObserver to detect changes to the DOM and reinitialize tabs
const observer = new MutationObserver(onContentUpdated);
observer.observe(document.body, {
  childList: true,
  subtree: true
});


</script>

{% schema %}
{
  "name": "Tabs",
  "limit": 1,
  "disabled_on": {
  "groups": ["header", "custom.popup", "footer"]
  },
  "settings": [
      {
        "type": "color_scheme",
        "id": "tabs_color_scheme",
        "label": "t:sections.all.colors.label",
        "default": "background-1"
      },
     {
      "type": "select",
      "id": "layout",
      "label": "t:sections.collapsible_content.settings.layout.label",
      "options": [
        {
          "value": "none",
          "label": "t:sections.collapsible_content.settings.layout.options__1.label"
        },
        {
          "value": "section",
          "label": "t:sections.collapsible_content.settings.layout.options__3.label"
        }
      ],
      "default": "none"
    },
    {
      "type": "color_scheme",
      "id": "container_color_scheme",
      "label": "t:sections.collapsible_content.settings.container_color_scheme.label",
      "info": "t:sections.collapsible_content.settings.container_color_scheme.info",
      "default": "background-2"
    },
      {
      "type": "range",
      "id": "tab_font",
      "min": 8,
      "max": 30,
      "step": 1,
      "unit": "px",
      "label": "Tabs heading font desktop",
      "default": 16
    },
     {
        "type": "text_alignment",
        "id": "tab_font_align",
        "label": "Heading alignment",
        "default": "center"
     },
    {
        "type": "text_alignment",
        "id": "tab_content_align",
        "label": "Tab content alignment",
        "default": "left"
     },
    {
      "type": "range",
      "id": "tab_font_mb",
      "min": 8,
      "max": 30,
      "step": 1,
      "unit": "px",
      "label": "Tabs heading font mobile",
      "default": 14
    },
    {
        "type": "text_alignment",
        "id": "tab_font_mb_align",
        "label": "Heading alignment mobile",
        "default": "center"
     },
     {
        "type": "text_alignment",
        "id": "tab_content_align_mb",
        "label": "Tab content alignment mobile",
        "default": "left"
     },
     {
      "type": "checkbox",
      "id": "show_border",
      "label": "Show bottom border",
      "default": true
    },
      {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ],
   "blocks": [
    {
      "type": "tab",
      "name": "Tabs",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "label": "Heading",
          "default": "Heading",
          "info": "Include a heading that explains the tab."
        },
        {
          "type": "checkbox",
          "id": "description",
          "label": "Show Product Description",
          "default": false
        },
         {
          "type": "richtext",
          "id": "tab_content",
          "default": "<p>Some text here</p>",
          "label": "Content"
        },
        {
          "type": "page",
          "id": "page",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.page.label"
        }
      ]
    }
  ],
   "presets": [
    {
      "name": "Tabs",
      "blocks": [
        {
          "type": "tab"
        },
        {
          "type": "tab"
        },
        {
          "type": "tab"
        }
      ]
    }
  ]
}
{% endschema %}
